<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{ page.title }} - {{ site.title }}</title>
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        {% if site.show_nav %}
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="mobile-nav-header">
          <span class="current-page">{{ page.title }}</span>
          <span class="nav-toggle-icon">
            <span></span>
          </span>
        </label>
        <nav id="navigation">
          {%- for entry in site.nav -%}
            <a href="{{ entry.url }}">{{ entry.title }}</a>  
          {%- endfor -%}
        </nav>
        {% endif %}
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    {% if site.show_footer %}
    <footer>
      <div class="container social-icons">
        <ul>
          {%- for entry in site.socials -%}
            <li>{% assign entry = include.item %}
              <a href="{{ entry.url }}" target="_blank" title="{{ entry.title }}">
                <img src="{{ '/assets/images/social-icons/' | append: entry.icon | append: '.svg' | relative_url }}">
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </footer>
    {% endif %}

  </body>
</html>
